html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

.wrap {
  width: 100%;
  height: 100%; }

.info {
  width: 100%;
  height: 100%;
  padding: 0.8rem 0.53333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .info p {
    width: 100%;
    height: 1.06667rem;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    margin-bottom: 0.8rem; }
    .info p input {
      -webkit-flex: 1 1 0%;
      flex: 1 1 0%;
      border: 1px solid #ccc;
      padding-left: 0.26667rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 0.42667rem;
      border-top-left-radius: 0.26667rem;
      border-bottom-left-radius: 0.26667rem; }
    .info p button {
      width: 2.4rem;
      font-size: 0.42667rem;
      border-top-right-radius: 0.26667rem;
      border-bottom-right-radius: 0.26667rem;
      border: none;
      border: 1px solid #ccc;
      outline: none; }
  .info p:nth-child(2) button {
    background: #24629F;
    border: 1px solid #24629F;
    color: #fff; }
  .info p:nth-child(3) button {
    background: #8A9F41;
    border: 1px solid #8A9F41;
    color: #fff; }
  .info p:nth-child(4) button {
    background: #A61656;
    border: 1px solid #A61656;
    color: #fff; }
  .info p:nth-child(5) button {
    background: #DC5407;
    border: 1px solid #DC5407;
    color: #fff; }
  .info p:nth-child(6) button {
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff; }
